---
const pageTitle = "私について";

const identity = {
  name: "Yuki",
  country: "Japan",
  age: 25,
  hobbies: ["写真", "旅行", "読書"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Node.js"];
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">ホーム</a>
    <a href="/about/">概要</a>
    <a href="/blog/">ブログ</a>
    <h1>{pageTitle}</h1>
    <h2>... そして私の新しいAstroサイトについて！</h2>

    <p>
      私はAstroの入門チュートリアルを進めています。これは私のウェブサイトの2番目のページで、自分で作った初めてのページです！
    </p>

    <p>
      このサイトはチュートリアルを進めるにつれて更新されていきます。定期的にチェックして、私の旅の様子を見に来てください！
    </p>

    <h2>私について</h2>

    <p>私の名前は{identity.name}です。</p>
    <p>私の出身地は{identity.country}で、年齢は{identity.age}歳です。</p>
    {
      identity.hobbies.length >= 2 && (
        <p>
          私の趣味は2個あります。{identity.hobbies[0]}と{identity.hobbies[1]}
          です。
        </p>
      )
    }

    <ul>
      {skills.map((skill) => <li>{skill}</li>)}
    </ul>
  </body>
</html>
